# THIS IS A LAMMPS FILE TO GENERATE 9-Octylheptadecane UNDER AMBIENT (311 K) CONIDTIONS
# UA model parameters from Mondello & Grest (MG) model A in JCP 103, 7156 (1995) and followup 1996 paper
# also refer to Moore et al JCP 113, 8833 (2000); McCabe et al JCP 114, 1887 (2001)

units		    real
dimension      	3
boundary       	p p p			
atom_style      molecular  		    # bonds, angles, dihedrals, impropers : uncharged molecules

variable        simboxL equal 315	# simulation box length for N_molecules = 125: 27; for 216: 315; for 343: 360
variable        genboxL equal 270   # molecule placement edge for N_molecules = 125: 225; for 216: 270; for 343: 315     
variable       	eqmT equal 311		# temperature desired: 311k
variable       	eqmP equal 0.987	# ambient pressure desired, note 0.1MPa = 0.987 atm; real units use atm
variable        pxx equal pxx
variable        pyy equal pyy
variable        pzz equal pzz
variable        pxy equal pxy
variable        pxz equal pxz
variable        pyz equal pyz
variable        rho equal density
variable        vol equal vol
variable        etotal equal etotal

variable        movieSTEP   equal    100000
variable        movieSTEP10x   equal ${movieSTEP}*10
variable        thermoSTEP  equal    100000
variable        runSTEP     equal    10000000
variable        runSTEP5x   equal    ${runSTEP}*5
variable        runSTEP10x  equal    ${runSTEP}*10

lattice        	fcc 45
region         	simbox prism 0 ${simboxL} 0 ${simboxL} 0 ${simboxL} 0 0 0 units box side in

# model has 3 types of UAs. (type1: CH2) (type2: CH3) (type3: CH)
# by defualt 1 is there so max column length - 1 for extra. example, special bonds: max elements for row=2+2+4=8, so need 7
create_box     	3 simbox bond/types 1 angle/types 1 dihedral/types 2 improper/types 1 extra/bond/per/atom 2 extra/angle/per/atom 3 extra/dihedral/per/atom 3 extra/improper/per/atom 1 extra/special/per/atom 8

molecule       	V_MOLECULE_V infiles/UA.MG.STAR.txt
lattice        	sc 45

region         	genbox prism 45 ${genboxL} 45 ${genboxL} 45 ${genboxL} 0 0 0 units box

create_atoms   	0 region genbox mol STAR 621634197 units box

neighbor       	0.3 bin
neigh_modify   	every 1 delay 0 check yes

mass           	1 14.026
mass           	2 15.034
mass           	3 13.018

pair_style     	lj/cut 10			
pair_modify    	shift yes			
special_bonds  	lj 0.0 0.0 0.0
	
bond_style     	harmonic
angle_style    	harmonic
dihedral_style 	multi/harmonic
improper_style	harmonic

pair_coeff     	1 1 0.093 3.93 10
pair_coeff     	1 2 0.145 3.93 10
pair_coeff     	1 3 0.086 3.87 10
pair_coeff     	2 2 0.227 3.93 10
pair_coeff     	2 3 0.134 3.87 10
pair_coeff     	3 3 0.080 3.81 10

bond_coeff      1 448.126 1.54
angle_coeff     1 62.14 114
dihedral_coeff 	1 2.007 -4.012 0.271 6.290 0
dihedral_coeff 	2 0.814 -1.792 0.389 3.673 0
improper_coeff	1 40 27.25

thermo         	${thermoSTEP}
thermo_style   	custom step temp vol press density pe etotal
dump           	frame_sample all atom ${movieSTEP} outfiles/make_sample.atom
dump_modify    	frame_sample first yes
dump_modify    	frame_sample scale no

# initial phase to relax the molecule at their architecture level (MUST SEE MOVIE TO CHECK IF MOLECULES LOOK REASONABLE)
minimize       	1.0e-5 1.0e-6 10000 10000

timestep       	1
velocity       	all create ${eqmT} 34875304 dist gaussian units box

# do a deform with langevin to start compression (1st stage, deform by 10x)
fix	       	    ensemble all nve
fix 		    thermostat all langevin ${eqmT} ${eqmT} 100.0 39847 			
fix		        compress0 all deform 1 x scale 0.464 y scale 0.464 z scale 0.464 	
fix		        output_pressure all ave/time 100 100 10000 v_pxx v_pyy v_pzz v_pxy v_pxz v_pyz ave one file outfiles/pressure.tensor.out
fix 		    state_variables all ave/time 100 100 10000 c_thermo_temp v_vol v_rho v_etotal c_thermo_press ave one file outfiles/state.variables.out
run             ${runSTEP5x}
unfix		    ensemble
unfix 		    thermostat
unfix		    compress0

# do NVT to equilibrate the sample
fix             equilibrate all nvt temp ${eqmT} ${eqmT} 100.0		
run             ${runSTEP}     						
unfix           equilibrate

# do a deform with langevin to start compression (2nd stage, deform by another 10x)
fix	       	    ensemble all nve
fix 		    thermostat all langevin ${eqmT} ${eqmT} 100.0 39847 			
fix		        compress0 all deform 1 x scale 0.464 y scale 0.464 z scale 0.464 
run             ${runSTEP5x} 
unfix		    ensemble
unfix 		    thermostat
unfix		    compress0

# do NVT to equilibrate the sample
fix             equilibrate all nvt temp ${eqmT} ${eqmT} 100.0		
run             ${runSTEP}     						
unfix           equilibrate

# do a deform with langevin to reach near the target density 
fix	       	    ensemble all nve
fix 		    thermostat all langevin ${eqmT} ${eqmT} 100.0 39847 			
fix		        compress0 all deform 1 x scale 0.81 y scale 0.81 z scale 0.81
run             ${runSTEP5x}
unfix		    ensemble
unfix 		    thermostat
unfix		    compress0

# do NPT to equilibrate at ambient pressure = 0.1 MPa
fix             barostat all npt temp ${eqmT} ${eqmT} 100.0 iso ${eqmP} ${eqmP} 1000.0
run             ${runSTEP}
unfix           barostat

# do NPT to equilibrate at ambient pressure = 0.1 MPa; compute average density for later.
fix             barostat all npt temp ${eqmT} ${eqmT} 100.0 iso ${eqmP} ${eqmP} 1000.0
fix             dave all ave/time 10 100 1000 v_rho ave running file outfiles/eqm.density.out
run             ${runSTEP5x} 
unfix           barostat

# find the adjustment factor needed to bring rho (initial) to averho (target): (initial/target)**1/3. 
variable        averho equal f_dave
variable        adjustrho1 equal (${rho}/${averho})^(1.0/3.0)
unfix        	dave

# do a deform to reach averho 
fix	       	    ensemble all nve
fix 		    thermostat all langevin ${eqmT} ${eqmT} 100.0 39847 			
fix		        compress1 all deform 1 x scale ${adjustrho1} y scale ${adjustrho1} z scale ${adjustrho1}
run            	${runSTEP}
unfix		    ensemble
unfix 		    thermostat
unfix		    compress1

# find the adjustment factor needed to bring rho (initial) to the expt density (target). 
variable        adjustrho2 equal (${rho}/0.791)^(1.0/3.0)	

# do a deform to reach expt density (0.791)
fix             ensemble all nve
fix             thermostat all langevin ${eqmT} ${eqmT} 100.0 39847
fix             compress2 all deform 1 x scale ${adjustrho2} y scale ${adjustrho2} z scale ${adjustrho2}
run             ${runSTEP} 
unfix           ensemble
unfix           thermostat
unfix           compress2

undump          frame_sample

# now we should have reached a fluid/liquid sample at 0.791 g/cc

# do NVT to equilibrate the sample further and create the final sample at 311 K, 0.1 MPa, 0.791 g/cc
fix             ambient all nvt temp ${eqmT} ${eqmT} 100.0
dump           	frame_ambient all atom ${movieSTEP10x} outfiles/ambient.atom
run             ${runSTEP10x} 				
undump          frame_ambient
write_restart   restart_files/V_MOLECULE_V.ambient.*
unfix           ambient

unfix           output_pressure
unfix           state_variables
